body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://www.istockphoto.com/photo/lupins-of-lake-tekapo-gm607280514-104050929");
    background-size: cover;
}


h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.clock{
    display: flex;
}
.clock div{
    position: relative;
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0, .4);
}

.clock .text{
    font-size: 10px;
    background-color: darkblue;
    height: 30px;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.clock #ampm{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: green;
}